{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "umd": {
      "presets": [
        ["@babel/preset-env", {"modules": "umd"}]
      ],
      "ignore": [
        "**/__tests__/**"
      ]
    },
    "esm": {
      "presets": [
        ["@babel/preset-env", {"modules": false}]
      ],
      "ignore": [
        "**/__tests__/**"
      ]
    }
  }
}
